html,
body,
#root,
.app,
.content {
    height: 100%;
    width: 100%;
    font-family: sans-serif, 'Times New Roman', Times, serif, Arial;
}

.content {
    flex: 1 ;
    overflow: auto;
    padding: 20px;
}

.app {
    display: flex;
    position: relative;
}
